spring:
  profiles:
    active: peer1
  application:
    name: eureka-server

---
spring:
  profiles: peer1                                 # 指定profile=peer1
server:
  port: 8801
eureka:
  instance:
    hostname: peer1                               # 指定当profile=peer1时，主机名是peer1
  client:
    serviceUrl:
      defaultZone: http://peer2:8801/eureka/,http://peer1:8802/eureka/      # 将自己注册到peer2这个Eureka上面去

---
spring:
  profiles: peer2
server:
  port: 8802
eureka:
  instance:
    hostname: peer2
  client:
    serviceUrl:
      defaultZone: http://peer1:8802/eureka/,http://peer2:8801/eureka/